<html>
  <head>
      <title>aracne-projekt</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--===============================================================================================-->
          <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/aracne.png') }}"/>
      <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
      <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
      <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
      <!--===============================================================================================-->
  </head>
  <body>
      <div class="limiter">
        <div class="container-login100" style="background-image: url('{{ url_for('static', filename='images/bg-01.jpg') }}');">
            <div><a href="/">Flask Login Example</a></div>

            <hr>
            {% block content %}{% endblock %}
        </div>
      </div>
  </body>
</html>
