<html>
  <head>
      <title>aracne-projekt</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

          <link href="https://fonts.googleapis.com/css?family=Condiment&display=swap" rel="stylesheet">
      <!--===============================================================================================-->
          <!--<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/aracne.png') }}"/>-->
      <!--===============================================================================================-->
          <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">-->
      <!--===============================================================================================-->
          <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">-->
      <!--===============================================================================================-->
          <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">-->
      <!--===============================================================================================-->
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
      <!--===============================================================================================-->
  </head>
  <body>
      <a href="/"><div class="home" style="font-family: Condiment;font-size: 2.2em;">Aracne-Projekt</div></a>
      <div class="limiter">
        <div class="container-login100">

            <hr>
            {% block content %}{% endblock %}
        </div>
      </div>
  </body>
</html>
