{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
  <!--input type="submit" value="Log in"-->

    <div class="wrap-login100">
        <form class="login100-form validate-form" action="/login" method="POST">
            <font size=7>
            Bienvenidx a ARACNE PROJEKT
            </font>
            <center>
            <video src="../static/videos/ARACNE.mp4" width="680" height="480" autoplay muted loop></video>
            <span class="login100-form-logo">
                <i class="zmdi zmdi-globe-alt"></i>
            </span>

            <span class="login100-form-title p-b-34 p-t-27">
                Log in
            </span>

            <div class="wrap-input100 validate-input" data-validate = "Enter username">
                <input class="input100" type="username" name="username" placeholder="Usuario">
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <input class="input100" type="password" name="password" placeholder="Contraseña">
                <span class="focus-input100" data-placeholder="&#xf191;"></span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Login
                </button>
            </div>

        </form>
    </div>
{% endif %}
{% endblock %}
